hr {
    margin: 0;
}

.banner-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 100%;
	z-index: -10;
    overflow: hidden;
}

.banner {
    background-image: url('/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    position: absolute;
    top: -10px;
	left: -20px;
	padding:0 20px;
    height: 160px;
    width: 100%;
	z-index: -10;
	box-sizing: content-box;
}

.top-bar {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
    padding-top: 0;
    padding-bottom: 0;
}

.top-bar .menu {
    background: none;
}

.top-bar-list {
    display: block;
    color: #FEFEFE !IMPORTANT;
    padding: 0 1rem !IMPORTANT;
    height: 54px;
    line-height: 54px !IMPORTANT;
    transition: background 0.25s ease-out;
    margin-right: 0.5rem;
}

.top-bar-list:hover {
    background: rgba(255, 255, 255, 0.25);
}

.top-bar-list:active {
    transition: background 0.15s ease-out;
    background: rgba(255, 255, 255, 0.5);
}

.top-bar,
.top-bar-left,
.top-bar-right {
    height: 54px;
    position: relative;
}

.top-bar-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-bar-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.top-bar-bg {
    position: absolute;
    background-image: url('/img/banner.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    height: 74px;
    top: -10px;
	left: -20px;
	padding:0 20px;
    width: 100%;
    margin: 0;
    -webki-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
	box-sizing: content-box;
}

#top-bar-quick-access {
    position: relative;
    top: 30px;
}

.top-bar-avatar {
    display: block;
    color: #FEFEFE !IMPORTANT;
    padding: 0 1rem !IMPORTANT;
    height: 54px;
    transition: background 0.25s ease-out;
    margin-right: 0.5rem;
    padding: 0 !IMPORTANT;
    transition: box-shadow 0.25s;
}

.top-bar-button {
    height: 54px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0 1rem!IMPORTANT;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    line-height: 54px!IMPORTANT;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe;
}

.top-bar-button:hover {
    color: #fefefe;
    background-color: #14679e;
}

.search-bar {
    position: relative;
}

.page-content {
    position: relative;
    margin-top: 60px;
}

.one-line-text {
    white-space: nowrap;
    overflow: hidden;
}

.card-divider {
    margin-bottom: 0;
}

.card-item, .card-item div {
    border-bottom: 1px solid #e6e6e6;
}

.card-item:last-child, .card-item:last-child div {
    border-bottom: 0;
}

table.card-table {
    border-bottom: 1px solid #e6e6e6;
}

table.card-table th, table.card-table td {
    padding: 0.75em;
    border-bottom: 1px solid #e6e6e6;
    background: #fefefe;
    text-align: center;
}

.card-table.card-section {
    padding: 0;
}

footer {
	text-align: center;
}