@font-face {
    font-family: main;
    src: url('/font/main.otf') format("opentype");
}

html {
    overflow-x: hidden;
}

body {
    background-image: url('/img/pagebg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Arial;
}

.button {
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    border: none;
    border-radius: 3px;
}

.button:active {
    transition: background-color 0.15 ease-out;
    background-color: #37A5EE;
}

.top-bar {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: main;
}

.top-bar .menu {
    background: none;
}

.top-bar-list {
    color: #FEFEFE!IMPORTANT;
    padding: 1.2rem 1rem!IMPORTANT;
    transition: background 0.25s ease-out;
    margin-right: 0.5rem;
}

.top-bar-list:hover {
    background: rgba(255, 255, 255, 0.25);
}

.top-bar-list:active {
    transition: background 0.15s ease-out;
    background: rgba(255, 255, 255, 0.5);
}

.top-bar,
.top-bar-left,
.top-bar-right {
    position: relative;
    z-index: 10000;
}

.top-bar-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-bar-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.25);
}

.top-bar-bg {
    background-image: url('/img/pagebg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 130%;
    top: -5px;
    left: -5px;
    width: 105%;
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: 50;
}

.banner {
    font-family: main;
}

#top-bar-quick-access {
    position: relative;
    top: 30px;
}

.page-content {
    position: relative;
    z-index: 50;
    margin-top: 2.8rem;
}