a:hover, a:focus {
    text-decoration: none;
}

.banner-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 130px;
    width: 100%;
    z-index: -2;
    overflow: hidden;
}

.banner {
    background-image: url('/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    position: absolute;
    top: -10px;
    left: -20px;
    padding: 0 20px;
    height: 137px;
    width: 100%;
    box-sizing: content-box;
}

.navbar-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    z-index: -1;
    overflow: hidden;
}

.navbar-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar-bg {
    position: absolute;
    background-image: url('/img/banner.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    height: 1500px;
    top: -10px;
    left: -20px;
    padding: 0 20px;
    width: 100%;
    margin: 0;
    filter: blur(5px);
    box-sizing: content-box;
}

.navbar-avatar {
    padding: 0 !important;
}

.avatar {
    border: 0;
    border-radius: 50%;
}

#searchq {
    border: 0px;
    z-index: 0;
}

.search-group input {
    z-index: 0;
}

@media (min-width: 750px) {
    .navbar-search {
        max-width: 250px;
    }
}

.page-content {
    margin-top: 85px;
}

.footer ul {
    padding-left: 0;
}

.footer li {
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
}

.footer span {
    font-size: 12px;
}

.titlepic {
    width: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
